<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="TCInterVacationCommon_connect" connectionString="Data Source=10.100.158.111,1500;Database=TCInterVacationCommon;User ID=TCInterVacation;Password=TC#In(t*e#r2Va)cat^ion" />
  </connectionStrings>
</configuration>