<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ assembly name="$(TargetDir)MyUtils.dll" #>
<#@ import namespace="MyUtils.T4" #>
<#@ output extension=".cs" #>
<#
	//Debugger.Launch(); Debugger.Break();
	TableInfoEntity table = DBEntityHelper.GetTableInfo(this.Host.TemplateFile, "TCInterVacationCommon", "ImageBasicInfo");
	this.WriteLine(DBEntityHelper.SetModel(table));
#>